<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Visual Kitsu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' type='image/x-icon' href='images/favicon.ico'/>
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  
    <!--FontAwesome-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!--Annotation Plugin-->
    <script src="https://rawgit.com/susielu/d3-annotation/master/d3-annotation.min.js"></script>

    <!--Legend Plugin-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.24.0/d3-legend.min.js"></script>

    <!-- Custom Scripts -->

    <!--Main stylesheet-->
    <link type="text/css" href="css/index.css" rel="stylesheet">
  </head>

  <body>
    <div class="section title-page bg-image" id="title-bg" data-anchor="section-title">
        <div class="bg-opacity">
          <div id="title-wrapper">
              <h1 id="main-title">Visual Kitsu</h1>
              <h4 id="main-subtitle">Exploring Your Kitsu Data</h4>
              <fieldset>
                <form action="/getUserId" method="post">
                  <input name="username" type="text" class="ghost-input" placeholder="Enter your Kitsu username" required>
                  <input type="submit" class="ghost-button" value="Get User Id">
                </form>

                <form action="/getList" method="post">
                  <input name="userId" type="text" class="ghost-input" placeholder="Enter your Kitsu userId" required>
                  <input type="submit" class="ghost-button" value="Get Anime info">
                </form>

                <!-- <form action="/getFriends" method="post">
                  <input name="username" type="text" class="ghost-input" placeholder="Enter your MAL username" required>
                  <input type="submit" class="ghost-button" value="Get Friends">
                </form> -->
              </fieldset>
              <% if(userId !== null){ %>
                <p>UserId: <%= userId %></p>
              <% } %>

              <% if(animeList !== null){ %>
                <p><%= animeList %></p>
              <% } %>
              
              <!-- <% if(friendList != null) { %>
                <p><%= friendList %></p>
              <% } %> -->
      
              <% if(error !== null){ %>
                <p><%= error %></p>
              <% } %>
          </div>
        </div>
    </div>
  </body>
</html>